
.box {
    border-color: black;
    grid-area: box;
}


#board {
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    align-content: stretch;
    justify-content: stretch;
    padding: 10px;
}
.cell {
    background-color: blue;
}
